.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.establishment {
  position: relative;
  background-color: gray;
  padding: 20px;
  margin: 5px 30px;
  border-radius: 8px;
  list-style: none;
}

.establishment h3{
  margin-top: 0;
}

.vote-btn{
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  opacity: 0.3;
}

.fav{
  position: absolute;
  right: 0;
  top: 0;
}

.btn-on{
  opacity: 1;
}